body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-position: center;
    background-color: #f8f8f8 !important;
    
    margin:0px;
    padding:0px;
}
button:focus {outline:0;}

#form_container{
    
    max-width: 700px;
  
    border-radius:10px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    background: white;
   
    margin-top:50px;
    
}

#form_container form
{
    padding:20px;

    
    
    
}
#form_container form .form-group,div {
    
    
    padding-left: 0px;
    
    
}
#form_container form div select
{
    color:black;
    background-color: #f5f5f5;
    border:0px solid #d6d6d6;

}
#form_container form div input
{
    color:black;
    background: #f5f5f5;
    border:0px solid #d6d6d6;
}

#form_container form .btn-main
{
    width:120px;
    color:white;
    background: #33b5e5;
    border:0px;
    padding:10px;
    border-radius: 100px;
}

#form_container form .btn-secondary
{
    width:120px;
    color:white;
    background: #ffbb33;
    border:0px;
    padding:10px;
    border-radius: 100px;
}

#form_container form .btn-main:hover
{
    
   
    background: #1ea3d3;
}
.tab {
    display: none;
  }
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  
  /* Making coustom select
  */
  .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

/*Remove the blue border*/
.btn:focus,.btn:active {
  outline: none !important;
  -webkit-box-shadow:none; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    none; /* Firefox 3.5 - 3.6 */
  box-shadow:         none;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}